/*
 * 简历模板css 1.0  2019.7.5
 * 
 */
	.ula{
		font-size: larger;
		color: black;
		margin: 0 233px;
	}
	#all{
		
	}
	#yicunzhao{
		border: 2px solid;
		width: 80px;
		height: 100px;
		right: 300px;
		top: 120px;
		position: absolute;
	}
